html {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: cadetblue;
	background-image: url(../graphics/images/bicycle-crossing_large.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.intro-block {
	color: white;
}


#mainh1 {
	text-shadow: 2px;
}


@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#svg-node {
	animation: hide 10s ease infinite;
}
